<md-toolbar class="toolbar-small">
  <div class="md-toolbar-tools small">
    <h3>
      <md-icon ng-click="vm.toggle();" md-font-set="material-icons">
        menu
      </md-icon>

      <span>Ginásios de Águas Claras </span>
    </h3>
  </div>
</md-toolbar>

<div
  layout="column"
  style="height:100%;"
  ng-cloak
  ng-init="vm.mostrarLegenda = false;"
>
  <section layout="row" flex>
    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4"
    >
      <md-toolbar class="md-theme-indigo primary">
        <div layout="column">
          <span> {{ vm.usuario.nome }}</span>
          <span>Nível: {{ vm.usuario.level }}</span>
          <span>Time: {{ vm.usuario.time }}</span>
        </div>
      </md-toolbar>
      <md-content layout-padding>
        <md-list class="md-dense" flex>
          <md-list-item ng-click="navigateTo('data usage', $event)">
            <md-icon md-font-set="material-icons">person</md-icon>
            <p>Minha conta</p>
          </md-list-item>
          <md-divider></md-divider>

          <md-list-item ng-click="vm.sair();">
            <md-icon md-font-set="material-icons">logout</md-icon>
            <p>Sair</p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <md-content flex>
      <md-tabs
        md-dynamic-height
        md-border-bottom
        md-stretch-tabs="always"
        class="md-primary"
      >
        <md-tab label="Ginásios">
          <md-content class="md-padding">
            <img
              src="images/mapa_cima.jpg"
              style="width: 100%;"
              ng-if="vm.mostrarLegenda"
              class="fade"
            />
            <div
              class="div-baixo"
              ng-class="{'div-mais-baixo': vm.mostrarLegenda}"
            >
              <img src="images/mapa_baixo.jpg" style="width: 100%;" />
            </div>

            <md-button
              class="md-primary"
              ng-click="vm.mostrarLegenda = !vm.mostrarLegenda;"
              target="_blank"
            >
              <span ng-show="!vm.mostrarLegenda">Mostrar Legenda</span>
              <span ng-show="vm.mostrarLegenda">Ocultar Legenda </span>
            </md-button>

            <div class="card" layout-align="center center" layout="column">
              <md-button
                ng-click="vm.instalar();"
                class="md-raised  button2"
                target="_blank"
              >
                Adicionar a sua tela inicial
              </md-button>

              <div
                class="card-header"
                style="font-weight: bold; background-color:#ba2f2f; "
              >
                Selecione o ginásio ou digite o código e aperte GO
              </div>

              <form ng-submit="vm.go()">
                <div layout="row" layout-align="center center">
                  <div layout="column">
                    <div layout="row">
                      <md-input-container>
                        <label>Ginásio</label>
                        <md-select
                          ng-model="vm.localSelecionado"
                          ng-change="vm.codigoLocal = vm.localSelecionado.codigo"
                        >
                          <md-option
                            ng-repeat="local in vm.locais"
                            ng-value="local"
                          >
                            {{ local.codigo + " - " + local.nome }}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div layout="row">
                      <md-input-container>
                        <label>Código do Ginásio</label>
                        <input ng-model="vm.codigoLocal" type="number" />
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="column" layout-align="center center">
                    <button class="button-go"></button>
                  </div>
                </div>

                <br />
              </form>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Raids">
          <md-content class="md-padding"> <p>Em implementação</p> </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </section>
</div>
